:root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --primary-color: #5d5fef;
  --secondary-color: #6c757d;
  --background-color: #e0e6ed;
  --text-color: #3b3f5c;
  --text-card: #fff;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

body {
  height: 100%;
  background-color: var(--background-color);
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem 0;
  text-align: center;
}
